<!--中间部分-->

<div id="content" class="content">
    <div id="innerContent">
        <div class="announce text" style="border:1px solid silver;padding:5px;font-size:14px;">
            <h4 style="color:#FF3300"><img src="/static/images/wav.gif" width="18" height="18" border="0" alt=""
                                           align="absmiddle"> 简单的BLOG示例</h4>
            本示例Blog包括日志的新增、修改、列表、统计、评论和删除等功能,可以作为入门的示例。<P>请按照下面步骤操作，增加分类、添加日志、增加评论。
        </div>

        <div class="articles">
            <volist name="articles" id="article">
            {{range .Articles}}
                <div class="textbox-title">
                    <h4>
                        <img src="/static/images/icon_point2.gif" width="13" height="13" border="0" alt=""
                             align="absmiddle">
                        <a href="/article/{{.Id}}">{{.Title}}</a>
                    </h4>

                    <div class="textbox-label">
                        [ {{.Created}} | <a href="javascript:void(0)">{{.Category}}</a>]
                    </div>
                </div>
                <div class="textbox-content">
                {{.Content}}
                </div>
                <div class="textbox-bottom">
                {{/*[ 管理：<a href="">编辑</a>&emsp;<a href="">删除</a> ]*/}}
                    [ 管理：<a href="/article/delete/{{.Id}}">删除</a> | <a href="/article/{{.Id}}">评论 </a>]
                    | 浏览量: {{.View}}
                </div>
            {{end}}
            </volist>
        </div>
    {{/*<center>*/}}
    {{/*<button class="more">加载更多</button>*/}}
    {{/*</center>*/}}

    </div>
</div>

