<div id="content" class="content">
    <div id="innerContent">
    {{/*<div class="article-top">*/}}
    {{/*<div class="prev-article"><a href="#">上一篇博文</a></div>*/}}
    {{/*<div class="next-article"><a href="#">上一篇博文</a></div>*/}}
    {{/*</div>*/}}
        <div class="textbox-title">
            <h4>
                <img src="/static/Images/icon_ctb.gif" width="11" height="11" border="0"
                     align="absmiddle">{{.Article.Title}}
            </h4>
            <div class="textbox-label">
                [{{.Article.UserName}} <span style="color:gray;font-weight:normal">{{.Article.Created}} 发表在 <a
                    href="#">{{.Article.Category.Title}}</a></span> ]
            </div>
        </div>
        <div class="textbox-content">
        {{.Article.Content}}
        </div>

        <div class="textbox-bottom"><img src="/static/images/cm_t_ArtRank2.gif" width="12" height="12" border="0"
                                         align="">
            <a href="#reply">我有话要说</a></div>
        <div class="textbox-urls" align="right"></div>
        <div class="no-comment-box">
        {{/*[ 管理：<a href="/article/edit/{{.Article.Id}}" target="_blank">编辑日志</a> <a href="#">删除日志</a> ]*/}}
            [ 管理：<a href="/article/delete/{{.Article.Id}}">删除日志</a> ]
        </div>
        <div id="comments">
            <div class="commentbox">
                <volist name="comments" id="comment">
                {{range .Comments}}
                    <div class="commentbox-title"><a href="javascript:void(0)">{{.UserName}}</a> 发表的评论 <span
                            style="color:gray">[ {{.Created}} ]</span>
                        <a href="/comment/delete/{{.Id}}">删除评论</a>
                        <div class="commentbox-content">{{.Content}}</div>
                    </div>
                {{end}}
                </volist>
            </div>

        </div>
        <a name="reply"></a>
        <div id="comment">
            <div id="result" class="result none"></div>
            <form method="post" id="form1" action="/comment">
            {{.XsrfData}}
                <table cellpadding=3 cellspacing=3 width="450px">
                    <input type="hidden" name="article_id" value="{{.Article.Id}}">
                    <tr>
                        <td class="tRight tTop"></td>
                        <td class="tLeft">用户名：<input type="text" name="username" id="username" class="text"></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td class="center">
                            <textarea cols="70" rows="6" name="content" id="commentContent"></textarea>
                            <br/>
                            <div class="fLeft hMargin">
                                <input type="submit" value="发表评论" id="CreateComment" class="submit small">
                            </div>
                        </TD>
                    </tr>
                </TABLE>
            </form>
        </div>
    </div>
</div>
